{% load static %}
{% load objects %}

<section class="cta-sec">
  <div class="container">
    <div class="custom-row">
      <div class="cta-content">
        <div class="section-header-2">
          <h2 class="section-title2"><span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" style="
                translate: none;
                rotate: none;
                scale: none;
                transform: translate(0px, 0px);
              ">КОНТАКТЫ</span></span></h2>
        </div>
        <a href="./contact.html" class="theme-btn primary-bg">{% include 'website/blocks/consultation.html' %}</a>
        <ul class="social-links-text">
          {% get_social_accounts as social_accounts %}
          {% for object in social_accounts %}
            <li>
              <a href="{{ object.link }}" target="_blank" class="splite-text-anim">
                <span>{{ object.title }} <img src="{% static 'website' %}/imgs/arrow.svg" alt="Icon" /></span>
                <span>{{ object.title }} <img src="{% static 'website' %}/imgs/arrow.svg" alt="Icon" /></span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="cta-img">
        <img src="{% static 'website' %}/imgs/cta-img-2.jpg" alt="CTA" class="rounded" />
      </div>
    </div>
  </div>
</section>
