{% load static %}

<section class="faq-sec">
    <div class="container">
        <div class="section-header">
        <div class="left">
            <h2 class="title">
            <span class="overflow-hidden"
                ><span
                class="timeline-anim scroll-animation"
                data-animation="slide_down"
                style="
                    translate: none;
                    rotate: none;
                    scale: none;
                    transform: translate(0px, 0px);
                "
                >ЧАСТО <br />
                ЗАДАВАЕМЫЕ ВОПРОСЫ</span
                ></span
            >
            </h2>
            <p>ANSWERS TO COMMON QUERIES WE OFTEN RECEIVE</p>
        </div>
        <div class="section-header-right">
            <div class="section-subtitle">
            <span class="white-circle"></span>
            <span class="theme-btn primary-bg">GET TO KNOW MORE</span>
            </div>
        </div>
        </div>

        <!-- Faq Lists -->
        <div class="faq-list-wrap">
        <div class="accordion faq-wrap" id="faqAccordionExample">
            <div class="accordion-item faq-item service-faq-item">
            <h2 class="accordion-header" id="headingFaqOne">
                <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFaqOne"
                aria-expanded="true"
                aria-controls="collapseFaqOne"
                >
                What industries do you specialize in?
                <span class="accordion-plus-icon"
                    ><span></span><span></span
                ></span>
                </button>
            </h2>
            <div
                id="collapseFaqOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingFaqOne"
                data-bs-parent="#faqAccordionExample"
            >
                <div class="accordion-body">
                <div class="accordion-content">
                    <p>
                    I have experience working across various industries
                    including but not limited to Technology, Healthcare,
                    Fashion, Hospitality and Non Profit Organization.
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="accordion-item faq-item service-faq-item">
            <h2 class="accordion-header" id="headingFaqTwo">
                <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFaqTwo"
                aria-expanded="false"
                aria-controls="collapseFaqTwo"
                >
                What is your typical project timeline?
                <span class="accordion-plus-icon"
                    ><span></span><span></span
                ></span>
                </button>
            </h2>
            <div
                id="collapseFaqTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingFaqTwo"
                data-bs-parent="#faqAccordionExample"
            >
                <div class="accordion-body">
                <div class="accordion-content">
                    <p>
                    I have experience working across various industries
                    including but not limited to Technology, Healthcare,
                    Fashion, Hospitality and Non Profit Organization.
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="accordion-item faq-item service-faq-item">
            <h2 class="accordion-header" id="headingFaqThree">
                <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFaqThree"
                aria-expanded="false"
                aria-controls="collapseFaqThree"
                >
                Do you offer post-launch support or maintenance?
                <span class="accordion-plus-icon"
                    ><span></span><span></span
                ></span>
                </button>
            </h2>
            <div
                id="collapseFaqThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingFaqThree"
                data-bs-parent="#faqAccordionExample"
            >
                <div class="accordion-body">
                <div class="accordion-content">
                    <p>
                    I have experience working across various industries
                    including but not limited to Technology, Healthcare,
                    Fashion, Hospitality and Non Profit Organization.
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="accordion-item faq-item service-faq-item">
            <h2 class="accordion-header" id="headingFaqFour">
                <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFaqFour"
                aria-expanded="false"
                aria-controls="collapseFaqFour"
                >
                What software and tools do you use for your designs?
                <span class="accordion-plus-icon"
                    ><span></span><span></span
                ></span>
                </button>
            </h2>
            <div
                id="collapseFaqFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFaqFour"
                data-bs-parent="#faqAccordionExample"
            >
                <div class="accordion-body">
                <div class="accordion-content">
                    <p>
                    I have experience working across various industries
                    including but not limited to Technology, Healthcare,
                    Fashion, Hospitality and Non Profit Organization.
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="accordion-item faq-item service-faq-item">
            <h2 class="accordion-header" id="headingFaqFive">
                <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFaqFive"
                aria-expanded="false"
                aria-controls="collapseFaqFive"
                >
                What are your go-to programs for design work?
                <span class="accordion-plus-icon"
                    ><span></span><span></span
                ></span>
                </button>
            </h2>
            <div
                id="collapseFaqFive"
                class="accordion-collapse collapse"
                aria-labelledby="headingFaqFive"
                data-bs-parent="#faqAccordionExample"
            >
                <div class="accordion-body">
                <div class="accordion-content">
                    <p>
                    I have experience working across various industries
                    including but not limited to Technology, Healthcare,
                    Fashion, Hospitality and Non Profit Organization.
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="accordion-item faq-item service-faq-item">
            <h2 class="accordion-header" id="headingFaqSix">
                <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFaqSix"
                aria-expanded="false"
                aria-controls="collapseFaqSix"
                >
                do your designs are tailored to each client?
                <span class="accordion-plus-icon"
                    ><span></span><span></span
                ></span>
                </button>
            </h2>
            <div
                id="collapseFaqSix"
                class="accordion-collapse collapse"
                aria-labelledby="headingFaqSix"
                data-bs-parent="#faqAccordionExample"
            >
                <div class="accordion-body">
                <div class="accordion-content">
                    <p>
                    I have experience working across various industries
                    including but not limited to Technology, Healthcare,
                    Fashion, Hospitality and Non Profit Organization.
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="accordion-item faq-item service-faq-item">
            <h2 class="accordion-header" id="headingFaqSeven">
                <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFaqSeven"
                aria-expanded="false"
                aria-controls="collapseFaqSeven"
                >
                How do I upgrade, downgrade, or cancel?
                <span class="accordion-plus-icon"
                    ><span></span><span></span
                ></span>
                </button>
            </h2>
            <div
                id="collapseFaqSeven"
                class="accordion-collapse collapse"
                aria-labelledby="headingFaqSeven"
                data-bs-parent="#faqAccordionExample"
            >
                <div class="accordion-body">
                <div class="accordion-content">
                    <p>
                    I have experience working across various industries
                    including but not limited to Technology, Healthcare,
                    Fashion, Hospitality and Non Profit Organization.
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
