{% load static %}
{% load objects %}

<footer class="footer-sec">
    <div class="container">
      <div class="big-text">
        <h2 class="section-title2 with-circle-shape">
          <span
            class="circle-primary-shape scroll-animation"
            data-animation="boldz_zoom_in"
            data-animation-delay="0.5"
          ></span>
        </h2>
      </div>

      <div class="copyright-wrap">
        <p>&copy;2025 ALEKSDEV</p>
        <p>
          <img src="{% static 'website' %}/imgs/white-circle-shape.svg" alt="Shape" />
          {% get_website_settings as settings %}
          {{ settings.slogan }}
        </p>
      </div>
    </div>
  </footer>
