{% load static %}

{% load objects %}

<section class="service-sec-2">
  <div class="container">
    {% if with_header %}
      <div class="section-header">
        <div class="left">
          <h2 class="title"><span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" style="
                        translate: none;
                        rotate: none;
                        scale: none;
                        transform: translate(0px, 0px);
                    ">УСЛУГИ</span></span></h2>
          <p></p>
        </div>
        <div class="section-header-right">
          <div class="section-subtitle">
            <span class="white-circle"></span>
            <a href="{% url 'contacts' %}" class="theme-btn primary-bg">{% include 'website/blocks/consultation.html' %}</a>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Service Faqs -->
    <div class="accordion service-faq-wrap" id="accordionServices">
      {% get_services as services %}
      {% for service in services|slice:":5" %}
        <div class="accordion-item service-faq-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{ forloop.counter }}"
              aria-expanded="{% if forloop.first %}
                true
              {% else %}
                false
              {% endif %}"
              aria-controls="collapse{{ forloop.counter }}">
              <img src="{% static 'website' %}/imgs/service-faq-icon-1.svg" alt="Icon" />
              {{ service.title }}
              <span class="accordion-plus-icon"><span></span><span></span></span>
            </button>
          </h2>
          <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionServices">
            <div class="accordion-body">
              <div class="accordion-content">
                <p>{{ service.description }}</p>
                <p class="cast">
                  Стоимость
                  <span class="border-bottom">
                    {% if not service.price_from %}
                      не указана
                    {% else %}
                      — от ${{ service.price_from }}
                    {% endif %}
                  </span>
                </p>

                {% comment %} <a href="./contact.html" class="theme-btn">ЗАКАЗАТЬ УСЛУГУ</a> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <p class="h5 mt-5">
        <a class="theme-btn" href="{% url 'service-list' %}">Перейди что бы увидеть все услуги&nbsp;&nbsp;[{{services.count}}]</a>
      </p>
    </div>

    <!-- Service FunFacts -->
    <div class="service-funfacts">
      {% get_stats as stats %}
      <div class="service-funfact-box">
        <h4 class="counter">{{ stats.years }}+</h4>
        <p>[ лет в сфере ]</p>
      </div>
      <div class="service-funfact-box">
        <h4 class="counter">{{ stats.projects }}+</h4>
        <p>[ законченных проектов ]</p>
      </div>
      <div class="service-funfact-box">
        <h4 class="counter">{{ stats.customers }}+</h4>
        <p>[ лояльных партнёров ]</p>
      </div>
    </div>
  </div>
</section>
