{% extends 'website/base.html' %}

{% load static %}

{% block content %}
  <main class="page-main service-page">
    {% include 'website/blocks/popup-menu.html' %}
    <div id="smooth-wrapper">
      <div id="smooth-content">
        {% include 'website/blocks/hero.html' with title='МОИ УСЛУГИ' %}
        {% include 'website/blocks/services.html' %}
        {% include 'website/blocks/faq.html' %}
        {% include 'website/blocks/cta.html' %}
        {% include 'website/blocks/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
