{% extends 'website/base.html' %}

{% block title %}
Свяжитесь со мной
{% endblock %}

{% block content %}
  <main class="page-main contact-page">
    {% include 'website/blocks/popup-menu.html' %}

    <!-- ===== Smooth Scroll Start ===== -->
    <div id="smooth-wrapper">
      <div id="smooth-content">
        {% include 'website/blocks/hero.html' with title='КОНТАКТЫ' %}
        {% include './form.html' %}
        {% include 'website/blocks/cta.html' %}
        {% include 'website/blocks/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const phoneInput = document.querySelector('#waForm input[name="phone"]')
      const maskOptionsPhone = {
        mask: '+9\\0 (000) 000-00-00',
        lazy: false,
        overwrite: false
      };
      IMask(phoneInput, maskOptionsPhone)
    })
  </script>
{% endblock %}
