{% extends 'website/base.html' %}

{% load static %}

{% block content %}
  <main class="page-main blog-page">
    {% include 'website/blocks/popup-menu.html' %}

    <div id="smooth-wrapper">
      <div id="smooth-content">
        {% include 'website/blocks/hero.html' with title='Что-то на языке программистов' %}
        {% include './post-list.html' %}
        {% include 'website/blocks/cta.html' %}
        {% include 'website/blocks/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
