{% load static %}

<div class="service-sec blog-sec">
    <div class="container">
      <!-- Blogs -->
      <div class="work-lists blog-lists">
        <div class="work-box scroll-animation" data-animation="fade_from_bottom2">
          <div class="hover_mouse">
            <a href="./blog-single.html">View</a>
          </div>
          <a href="./blog-single.html" class="overlay"></a>
          <div class="work-img">
            <img src="{% static 'website/' %}/imgs/blog-1.png" alt="Blog" />
          </div>
          <div class="work-bottom-content">
            <span class="work-price">
              GROWING A CAREER <br />
              IN WEB DESIGN
            </span>
            <span class="work-cat">8 APRIL 2021</span>
            <span class="work-number">[01]</span>
          </div>
        </div>
        <div class="work-box scroll-animation" data-animation="fade_from_bottom2" data-animation-delay="0.2">
          <div class="hover_mouse">
            <a href="./blog-single-2.html">View</a>
          </div>
          <a href="./blog-single-2.html" class="overlay"></a>
          <div class="work-img">
            <img src="{% static 'website/' %}/imgs/blog-2.png" alt="Blog" />
          </div>
          <div class="work-bottom-content">
            <span class="work-price">
              LANDING PAGE WITH <br />
              GREATE INTERACTION
            </span>
            <span class="work-cat">1 JULY 2021</span>
            <span class="work-number">[02]</span>
          </div>
        </div>
        <div class="work-box scroll-animation" data-animation="fade_from_bottom2">
          <div class="hover_mouse">
            <a href="./blog-single-3.html">View</a>
          </div>
          <a href="./blog-single-3.html" class="overlay"></a>
          <div class="work-img">
            <img src="{% static 'website/' %}/imgs/blog-3.png" alt="Blog" />
          </div>
          <div class="work-bottom-content">
            <span class="work-price">
              A STUNNING WEBSITE
              <br /> USING FRAMER
            </span>
            <span class="work-cat">13 APRIL 2022</span>
            <span class="work-number">[03]</span>
          </div>
        </div>
        <div class="work-box scroll-animation" data-animation="fade_from_bottom2" data-animation-delay="0.2">
          <div class="hover_mouse">
            <a href="./blog-single-4.html">View</a>
          </div>
          <a href="./blog-single-4.html" class="overlay"></a>
          <div class="work-img">
            <img src="{% static 'website/' %}/imgs/blog-4.png" alt="Blog" />
          </div>
          <div class="work-bottom-content">
            <span class="work-price">
              IMPORTANCE OF SEO<br />
              OF ONLINE BUSINESS
            </span>
            <span class="work-cat">3 JULY 2022</span>
            <span class="work-number">[04]</span>
          </div>
        </div>
        <div class="work-box scroll-animation" data-animation="fade_from_bottom2">
          <div class="hover_mouse">
            <a href="./blog-single-5.html">View</a>
          </div>
          <a href="./blog-single-5.html" class="overlay"></a>
          <div class="work-img">
            <img src="{% static 'website/' %}/imgs/blog-5.png" alt="Blog" />
          </div>
          <div class="work-bottom-content">
            <span class="work-price">
              5 WAYS TO IMROVE<br />
              YOUR WEBSITE’S UX
            </span>
            <span class="work-cat">24 MARCH 2023</span>
            <span class="work-number">[05]</span>
          </div>
        </div>
        <div class="work-box scroll-animation" data-animation="fade_from_bottom2" data-animation-delay="0.2">
          <div class="hover_mouse">
            <a href="./blog-single-6.html">View</a>
          </div>
          <a href="./blog-single-6.html" class="overlay"></a>
          <div class="work-img">
            <img src="{% static 'website/' %}/imgs/blog-6.png" alt="Blog" />
          </div>
          <div class="work-bottom-content">
            <span class="work-price">
              A SUCCESSFUL<br />
              MARKETING DRIVE
            </span>
            <span class="work-cat">4 JUNE 2023</span>
            <span class="work-number">[06]</span>
          </div>
        </div>
      </div>
    </div>
  </div>
