{% load static %}

{% load objects %}

<section class="about-sec">
  <div class="container">
    <div class="section-header">
      <div class="left">
        <h2 class="title"><span class="overflow-hidden"><span class="timeline-anim scroll-animation text-red" data-animation="slide_down">МОЙ КОД.</span></span></h2>
      </div>
      <div class="section-header-right">
        <div class="section-subtitle">
          <span class="white-circle"></span>
          <span class="theme-btn primary-bg">`консультация</span>
        </div>
      </div>
    </div>
    <div class="custom-row">
      <div class="about-left-img">
        <img src="{% static 'website' %}/imgs/about-2.jpg" alt="About" />
      </div>
      <div class="about-content">
        <span class="about-title">[ lorem ipsum ]</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, assumenda quam. Sunt perspiciatis cupiditate facere doloribus saepe corrupti assumenda, rem dignissimos tempore laboriosam numquam porro enim. Consequatur ex quaerat facilis!</p>
        <br />
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus ipsum, blanditiis ipsam doloribus, quisquam dolorem recusandae perferendis saepe, autem quis ad accusamus. Voluptatem, numquam harum. Dolore corporis assumenda culpa similique?</p>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laboriosam temporibus perspiciatis voluptas suscipit et ipsam accusantium sapiente vitae quia autem at nisi, distinctio recusandae. Iusto, suscipit. Optio, officiis quam.</p>
        <div class="about-awards-wrap">
          <div class="awards-list">
            {% get_marketplace_accounts as marketplace_accounts %}
            {% for object in marketplace_accounts %}
              <a href="{{ object.link|default:'#' }}" class="award-box {% if forloop.counter == 1 %}active{% endif %}">
                {{ object.marketplace }}
                <span class="award-year">
                  <img src="{% static 'website' %}/imgs/angle-arrow.svg" alt="Arrow" />
                  <span>{{ object.reviews_count }} отзывов</span>
                </span>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="about-mission">
          <p>Подробнее о моих услугах вы можете узнать на этом сайте.</p>
        </div>
      </div>
    </div>
  </div>
</section>
