{% load static %}

<div class="client-sec">
    <div class="container">
      <div class="client-logo-slide-wrap">
        <div class="client-logo-slide">
          <img src="{% static 'website' %}/imgs/client-1.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-2.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-3.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-4.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-5.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-6.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-7.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-1.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-2.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-3.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-4.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-5.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-6.svg" alt="Client" />
          <img src="{% static 'website' %}/imgs/client-7.svg" alt="Client" />
        </div>
      </div>
    </div>
  </div>
