{% load static %}

<section class="experience-sec">
  <div class="container">
    <div class="section-header sticky-statement2">
      <div class="left">
        <h2 class="title"><span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" style=" translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">опыт работы</span></span></h2>
      </div>
    </div>
    <div class="experience-lists">
      {% for object in objects_working_experience %}
        <div class="experience-box scroll-animation" data-animation="slide_down2">
          <div class="left">
            <img src="{{ object.company_logo.url }}" alt="Icon" />
            <div class="experience-content">
              <h5>
                {{ object.company_name }}
                <span class="experience-date">[ {{ object.year_start }} - {{ object.year_end }} ]</span>
              </h5>
              <span class="designation">{{ object.position_name }}</span>
              <p>{{ object.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
