{% load static %}

<section class="experience-sec favourite-stack-sec">
  <div class="container">
    <div class="section-header sticky-statement3">
      <div class="left">
        <h2 class="title"><span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">С ЧЕМ Я РАБОТАЮ?</span></span></h2>
      </div>
    </div>
    <div class="experience-lists">
      {% for object in objects_technology_area %}
        <div class="experience-box scroll-animation" data-animation="slide_down2">
          <div class="left">
            <img src="{% static 'website' %}/imgs/figma-icon.svg" alt="Icon" />
            <div class="experience-content">
              <a href="">
                <h5>{{ object.name }} <span class="experience-date">{{ object.created }}</span></h5>
              </a>
              <span class="designation text-muted">{{ object.technologies.count }} технологий</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
