{% extends 'website/base.html' %}

{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}
  <main class="page-main home-page">
    {% include 'website/blocks/popup-menu.html' %}

    <div id="smooth-wrapper">
      <div id="smooth-content">
        {% include 'website/blocks/hero.html' with title='ТВОЙ БИЗНЕС,' %}
        {% include './about.html' with objects=objects_marketplace %}
        {% include './process.html' %}
        {% include './motivation.html' %}
        {% include 'website/blocks/services.html' with with_header=True %}
        {% include './favourite-stack.html' with objects_technology=objects_technology objects_technology_area=objects_technology_area %}
        {% include 'website/blocks/faq.html' %}
        {% include 'website/blocks/cta.html' %}
        {% include 'website/blocks/footer.html' %}
      </div>
    </div>
  </main>
{% endblock %}
