{% load static %}

<section class="motivation-sec">
    <div class="container">
        <div class="custom-row">
        <div class="motivation-left-content">
            <div class="section-header-2">
            <h2 class="section-title2">
                <span class="overflow-hidden"
                ><span
                    class="timeline-anim scroll-animation"
                    data-animation="slide_down"
                    >МОТИВАЦИЮ НАДО ПОДНЯЯЯТЬ!</span
                ></span
                >
            </h2>
            <h6>
                <span class="with-border">
                <a href="">
                    НО ГДЕ ВЗЯТЬ ВДОХНОВЕНИЕ?
                </a>
                </span>
            </h6>
            </div>
        </div>
        <div class="motivation-right-content">
            <div class="motivation-right-content-box">
            <p>
                Разработка — это не просто код, строки символов или технические задачи. Это искусство создания, отражение твоих идей и решений, которые оживают в виде продуктов, способных изменить жизнь людей. Быть разработчиком — значит постоянно учиться, сталкиваться с вызовами и находить в себе силы двигаться вперед.
            </p>
            <p>
                Разработка — это путешествие, где ты сам себе и капитан, и команда. Каждый проект — новый вызов. Но с каждым решением, каждым исправленным багом, ты растешь. И это прекрасно.
            </p>
            </div>

            <div class="motivation-quote">
            <p>
                "Болтовня ничего не стоит. Покажите мне код."
            </p>
            <span class="motivation-name"> — ЛИНУС ТОРВАЛЬДС.</span>
            </div>
        </div>
        </div>
    </div>
</section>
