{% load static %}

<section class="process-sec">
    <div class="container">
        <div class="section-header-2">
        <h2 class="section-title2">
            <span class="overflow-hidden"
            ><span
                class="timeline-anim scroll-animation"
                data-animation="slide_down"
                >ЧТО НАС ЖДЁТ?</span
            ></span
            >
        </h2>
        </div>

        <div class="custom-row">
        <div class="process-img sticky-statement">
            <img src="{% static 'website' %}/imgs/process-2.jpg" alt="Process" class="rounded" />
        </div>

        <div class="process-lists">
            <div class="process-box">
            <span class="number">[ 01 ]</span>
            <div class="process-box-content">
                <img src="{% static 'website' %}/imgs/process-icon-1.svg" alt="Icon" />
                <h4>ПЛАНИРОВАНИЕ</h4>
                <p>
                Один из самых важных этапов, так как он закладывает основу для успешной реализации проекта.
                </p>
                <ul>
                <li>- Сбор и анализ требований</li>
                <li>- Разработка технического задания</li>
                <li>- Определение объема проекта</li>
                <li>- Составление плана реализации и его утверждение</li>
                </ul>
            </div>
            </div>
            <div class="process-box">
            <span class="number">[ 02 ]</span>
            <div class="process-box-content">
                <img src="{% static 'website' %}/imgs/process-icon-2.svg" alt="Icon" />
                <h4>ПРОТОТИПИРОВАНИЕ</h4>
                <p>
                Переход от планирования к визуализации будущего продукта. Его цель — создать набросок, который демонстрирует структуру, логику и взаимодействие системы.
                </p>
                <ul>
                <li>- Сбор референсов</li>
                <li>- Создание информационной архитектуры</li>
                <li>- Подготовка документации</li>
                <li>- Разработка прототипа</li>
                </ul>
            </div>
            </div>
            <div class="process-box">
            <span class="number">[ 03 ]</span>
            <div class="process-box-content">
                <img src="{% static 'website' %}/imgs/process-icon-3.svg" alt="Icon" />
                <h4>РАЗРАБОТКА</h4>
                <p>
                Другими словами - реализация проекта в виде готового продукта. Этот этап основывается на результатах планирования и прототипирования.
                </p>
                <ul>
                <li>- Разработка серверной и клиентской части</li>
                <li>- Тестирование</li>
                <li>- Документация</li>
                <li>- Запуск и отладка</li>
                <li>- Техническая поддержка</li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
