{% load static %}

<section class="testimonial-sec">
  <div class="container">
    <div class="section-header-2">
      <h6></h6>
      <h2 class="section-title2">
        <span class="overflow-hidden">
          <span class="text-primary">
            ОТЗЫВЫ
          </span>
        <span class="timeline-anim scroll-animation" data-animation="slide_down" style="
            translate: none;
            rotate: none;
            scale: none;
            transform: translate(0px, 0px);
        ">ЧТО ГОВОРЯТ ОБО МНЕ КЛИЕНТЫ?</span></span></h2>
      <h6 class="text-muted">
        „Забудьте о конкурентах и сфокусируйтесь на клиентах“
      </h6>
    </div>
  </div>

  <!-- Testimonial Slide -->
  <div class="testimonial-slide">
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-1.svg" alt="Logo" />
        <span class="date">[ march 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear their designers obsess over every pixel, every transition, to create experiences that delight"</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-1.png" alt="Testimonial" />
        <div class="content">
          <h4>kate mccalilster</h4>
          <span class="designation">cloud sales executive / ipsum</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-3.svg" alt="Logo" />
        <span class="date">[ april 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>I was struck by how seamlessly everything flowed and how easy it was to navigate. their team meticulously perfects every detail a truly engaging and enjoyable experience.</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-1.png" alt="Testimonial" />
        <div class="content">
          <h4>jesse oriko</h4>
          <span class="designation">product manager / noise & co</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-6.svg" alt="Logo" />
        <span class="date">[ MAY 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>I was impressed by the effortless usability and the smooth interactions throughout. The dedication of their designers to refining every element is apparent,</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-2.png" alt="Testimonial" />
        <div class="content">
          <h4>oleksandra zubrytska</h4>
          <span class="designation">technical product managrr / logipsum</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-5.svg" alt="Logo" />
        <span class="date">[ JULY 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>The user experience was incredibly smooth and intuitive. It's evident that their designers pay meticulous attention to every detail crafting an experience that truly impresses.</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-3.png" alt="Testimonial" />
        <div class="content">
          <h4>rick o’connel</h4>
          <span class="designation">design manager / market compliance</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-7.svg" alt="Logo" />
        <span class="date">[ AUG 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>The interface was strikingly user-friendly and fluid. It's clear their team dedicates themselves to perfecting every element and transition, resulting perfection</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-4.png" alt="Testimonial" />
        <div class="content">
          <h4>watson andrew</h4>
          <span class="designation">royal caribbean/ owner</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-2.svg" alt="Logo" />
        <span class="date">[ AUG 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear their designers obsess over every pixel, every transition, to create experiences that delight"</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-5.png" alt="Testimonial" />
        <div class="content">
          <h4>zean Zubrytska</h4>
          <span class="designation">technical product manager / noise & co</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-1.svg" alt="Logo" />
        <span class="date">[ march 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear their designers obsess over every pixel, every transition, to create experiences that delight"</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-1.png" alt="Testimonial" />
        <div class="content">
          <h4>kate mccalilster</h4>
          <span class="designation">cloud sales executive / ipsum</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-3.svg" alt="Logo" />
        <span class="date">[ april 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>I was struck by how seamlessly everything flowed and how easy it was to navigate. their team meticulously perfects every detail a truly engaging and enjoyable experience.</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-1.png" alt="Testimonial" />
        <div class="content">
          <h4>jesse oriko</h4>
          <span class="designation">product manager / noise & co</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-6.svg" alt="Logo" />
        <span class="date">[ MAY 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>I was impressed by the effortless usability and the smooth interactions throughout. The dedication of their designers to refining every element is apparent,</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-2.png" alt="Testimonial" />
        <div class="content">
          <h4>oleksandra zubrytska</h4>
          <span class="designation">technical product managrr / logipsum</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-5.svg" alt="Logo" />
        <span class="date">[ JULY 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>The user experience was incredibly smooth and intuitive. It's evident that their designers pay meticulous attention to every detail crafting an experience that truly impresses.</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-3.png" alt="Testimonial" />
        <div class="content">
          <h4>rick o’connel</h4>
          <span class="designation">design manager / market compliance</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-7.svg" alt="Logo" />
        <span class="date">[ AUG 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>The interface was strikingly user-friendly and fluid. It's clear their team dedicates themselves to perfecting every element and transition, resulting perfection</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-4.png" alt="Testimonial" />
        <div class="content">
          <h4>watson andrew</h4>
          <span class="designation">royal caribbean/ owner</span>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-header">
        <img src="{% static 'website' %}/imgs/client-2.svg" alt="Logo" />
        <span class="date">[ AUG 2024 ]</span>
      </div>

      <div class="testimonial-body">
        <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear their designers obsess over every pixel, every transition, to create experiences that delight"</p>
      </div>

      <div class="testimonial-footer">
        <img src="{% static 'website' %}/imgs/testimonial-5.png" alt="Testimonial" />
        <div class="content">
          <h4>zean Zubrytska</h4>
          <span class="designation">technical product manager / noise & co</span>
        </div>
      </div>
    </div>
  </div>
</section>
